<div class="contents row">
  <div class="container">
    <h3><b>概要</b></h3>
    <div class="about_content">
      旅行先のレビューアプリケーションです<br>
      下記のことができます<br>
      <ul>
        <li>実際に行った旅行先をレビューする</li>
        <li>他の人のレビューにコメントや、いいね（♡）をつける</li>
        <li>レビューを検索する</li>
      </ul>
    </div>
    <h3><b>使い方</b></h3>
    <div class="about_content">
      <div class="about_title">
        ログイン/新規登録しよう！
      </div>
      アプリの右上から、ログイン/新規登録をしましょう<br>
      ※テストアカウントを用意していますので、こちらを利用することも可能です<br>
        ID:test1@test1<br>
        Pass:xxx111111
    </div>
  </div>

</div>