<%= render partial: "search-form" %>

<div class="contents-header">
  <u>＜投稿一覧＞</u>
</div>

<%= render partial: "search-output" %>

<% if @posts != nil %>
  <div class="contents row">
    <% @posts.each do |post| %> 
      <%= render partial: "post", locals: { post: post } %>
    <% end %>
  </div>
<% end %>