<%= render partial: "search-form" %>

<div class="contents-header">
  ＜検索結果＞
  <% if params[:keyword] != "" %>
    <div>
      キーワード:<%= params[:keyword] %>
    </div>
  <% end %>
  <% if params[:area_id] != "1" %>
    <div>
      都道府県:
      <% @posts.each do |post| %>
        <%= post.area.name %>
        <% break %>
      <% end %>
    </div>
  <% end %>
</div>


<div class="contents row">
  <% if @posts.present? %>
    <% @posts.each do |post| %>
      <%= render partial: "post", locals: { post: post } %>
    <% end %>
  <% else %>
    <div class="search-error">
      ⚠該当する検索結果はありません⚠
    </div>
  <% end %>
</div>