<div class="contents row">
  <div class="success">
    <h3>更新が完了しました。</h3>
    <%= link_to "投稿一覧へ戻る", root_path, {class: "btn"} %>
    <%= link_to "投稿詳細へ戻る", post_path(@post.id), {class: "btn"} %>
  </div>
</div>